.container_nav {
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container_shoe {
  width: 60px;
  height: 60px;
  border-radius: 100%;
  background-color: rgba(223, 223, 223, 0.412);
  display: flex;
  justify-content: center;
  align-items: center;
}

.shoe {
  width: 40px;
  height: 40px;
}

.nav_link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.nav_link p {
  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  margin-top: 5px;
  color: black;
}

.sec_img_shoe {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container_nav_desktop {
  display: none;
}

@media (min-width: 1000px) {
  .container_nav {
    display: none;
  }
  .container_nav_desktop {
    display: block;
  }

  .container_nav_desktop section section {
    width: 55px;
    height: 55px;
    margin-right: 25px;
  }

  .container_nav_desktop section p {
    font-weight: bold;
  }

  .nav_link {
    margin: 10px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    border: 1px solid rgb(214, 214, 214);
  }

  .nav_link section {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .nav_link:hover {
    border: 1px solid rgba(55, 99, 188, 0.738);
  }
}
