.modal {
  width: 100vw;
  height: 100vh;
  background-color: rgba(210, 210, 210, 0.279);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0px;
}
.section_modal {
  width: 85vw;
  height: 300px;
  border-radius: 30px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 15px 0px rgba(195, 195, 195, 0.463);
}
.icon_check {
  width: 70px;
  height: 100px;
}
.section_modal p {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}

@media (min-width: 1000px) {
  .modal {
    display: flex;
    width: 100vw;
    margin: auto;
    background-color: rgba(255, 255, 255, 0);
  }
  .section_modal {
    width: 500px;
  }

  .section_section_modal {
    width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(206, 206, 206, 0.171);
    height: 100vh;
  }
}
